.ItemDetailContainer{
    display: flex;
    justify-content:center;
    font-family: 'Montserrat', sans-serif;
}

.ItemDetailContainer img{
    height:380px;
}

.ItemDetailContainer span{
    font-size:30px;
}

.Description {
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
}